.DS_Store
.rake_tasks~
config/database.yml
coverage/*
doc/api
doc/api
doc/app
doc/plugins
log/*.log
tmp
tmp/**/*
db/*.sqlite3
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.log
*.pid
bin/*
!vendor/gems/cache/
public/assets/**/*

